{% extends "base.html" %}

{% block body %}
<div class="project">
    <!-- TODO: set image alt tags in the CMS (height and width auto with PIL) -->
    <img src="{{ MEDIA_URL }}{{ project.picture }}" alt="" />
    <h2><a href="{% url "folio.views.detail" project.id %}">{{ project.title }}</a></h2>
    {{ project.description|safe }}
    <p>{{ project.url }}</p>
    <!-- TODO: bullets from the description to individual fields -->
    <p><a href="/">View other projects</a></p>
</div>
{% endblock %}