{% extends "base.html" %}

{% block body %}
<div class="project" id="about">
    <h2>Hello</h2>
    <p>I'm a freelance Web Developer based in London. This page shows some of my favourite recent projects.</p>
    <p>I like building websites with Django, Node.js, PHP, HTML, CSS and Javascript. I'm experienced in leading technical teams and setting up hosting solutions. I like servers a lot.</p>
    <p>I'm available for freelance development and technical consultancy. <a href="/contact.html">Contact me</a> if you're interested <a href="mailto:hello@petegraham.co.uk">hello@petegraham.co.uk</a>
    </p>
</div>

{% for project in projects %}
<div class="project">
    {% include 'partials/project_info.html' %}
</div>
{% endfor %}
<!-- node.js RSS to Facebook https://github.com/pxg/Node-Rss-to-Twitter -->

{% endblock %}