<!-- TODO: set image alt tags in the CMS (height and width auto with PIL) -->
<img src="{{ MEDIA_URL }}{{ project.picture }}" alt="" />
<h2><a href="{% url "folio.views.detail" project.slug %}">{{ project.title }}</a></h2>
{{ project.description|safe }}
<ul>
    <li>Role: {{ project.role }}</li>
    <li>URL: <a href="{{ project.url }}" target="_blank">{{ project.url }}</a></li>
    {% if project.video %}
    <li>Video:  <a href="{{ project.video }}" target="_blank">{{ project.video }}</a></li>
    {% endif %}
    <li>Technologies: {{ project.technologies }}</li>
</ul>